:root {
    --fnbg-purple: #8774E1;
    --fnbg-orange: #FB923C;
    --fnbg-text-opacity: 1;
    --fnbg-text-orange: 251, 146, 60;
}

.btn-outline-purple {
    color: #8774E1;
    border-color: #8774E1;
}

.btn-outline-purple:hover {
    color: #000;
    background-color: #8774E1;
    border-color: #8774E1;
}

.text-purple {
    color: #8774E1;
}

.btn-orange {
    color: #FB923C;
    background-color: #303030;
}

.btn-orange:hover,
btn-orange-darker:hover {
    color: #FB923C;
    background-color: #242424;
    border-color: #FB923C;
}

.btn-orange-darker {
    color: #FB923C;
    background-color: #242424;
}

.btn-orange-darker:hover {
    color: #FB923C;
    background-color: #242424;
    border-color: #FB923C;
}

body {
    background-color: #242424;
}

nav,
footer {
    background-color: #181818;
}

.color-2 {
    background-color: #303030;
}

.text-orange {
    --bs-text-opacity: 1;
    color: rgba(var(--fnbg-text-orange), 1) !important;
}

.outline {
    box-sizing: border-box;
    outline: 1px solid var(--fnbg-purple) !important;
}


/** {
    box-sizing: border-box;
    outline: 1px solid black !important;
}*/


/*img {
    object-fit: cover;
    width: 100%;
    display: block;
    height: auto;
}*/

a:hover {
    color: #909090 !important;
}

#logo {
    width: 150px;
    height: auto;
}